@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Allerta+Stencil: 500,700');

/*
 =============================== 
 General 
 =============================== 
 */


 body {
     padding: 0;
     margin: 0;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}


 main {
     flex: 1;
     margin-top: 44px;
     padding-bottom: 30px;
}


 .row, .container, .container-fluid {
     margin:0;
     padding:0;
}


/* 
=============================== 
Navbar 
=============================== 
*/


 .navbar {
     background-color: #06212c;
     padding: 2px 10px;
}


 .brand-phone {
     color: #fafafa;
     font-family: "Montserrat", sans-serif;
     padding-left: 15px;
     font-size: .87rem;
     display: none;
}

a.tel>i, a.tel {
    text-decoration: none;
    color: #fafafa;
    font-size: .87rem;
}
 .nav-item {
     font-family: "Raleway", sans-serif;
     font-weight: 600;
     text-transform: uppercase;
     text-align: centre;
}


 .custom-toggler.navbar-toggler {
     border-color: #06212c;
}


/* formula to overwrite bootstrap toggler colour */
 .custom-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 224, 252, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


 .custom-toggler.navbar-toggler {
     outline: none;
}


 .navbar-light .navbar-nav .nav-item .nav-link {
     color: #fafafa;
     font-weight: 600;
     font-size: .87rem;
     padding: 5px 20px;
     border-radius: 4px;
     display: inline-block !important;
}


 .nav-item {
     text-align: center;
}


 #navbarSupportedContent .nav-item .quote {
     background-color: rgb(18, 224, 252);
}


 .active .nav-link {
     color:rgb(18, 224, 252) !important;
     font-weight: 700 !important;
}


 nav ul li a, nav ul li a:after, nav ul li a:before {
     transition: all .5s;
}


 nav.stroke ul li a {
     position: relative;
}


 nav.stroke ul li a:after {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 0%;
     content: '.';
     color: transparent;
     background: rgb(18, 224, 252);
     height: 1.5px;
     display: none;
}


 nav.stroke ul li a:hover:after {
     width: 70%;
     display: none;
}


/* 
=============================== 
Home Page 
=============================== 
*/


 .page-title {
     font-family: 'Allerta Stencil', cursive;
     padding: 20px 20px 10px 20px;
     letter-spacing: 1.4px;
}


 .page-title-first {
     font-size: 1.2rem;
     font-weight: 700;
     margin-bottom: 5px;
}


 .page-title-second, .testimonial-title {
     font-size: .9rem;
     font-weight: 500;
     margin-bottom: 5px;
}


 hr {
     border: 0;
     height: 2px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
     margin-bottom: 20px;
}


 .font-italic.testimonial-text {
     font-size: .8rem;
}


 .testimonials-row {
     margin:0 !important;
     padding:0;
     font-size: .8rem;
}


 .testimonials {
     padding: 8px;
     margin:0 !important;
}


 .client {
     margin-top: 20px;
}


 .client>img {
     width: 55px;
     float: left;
     margin-right: 12px;
     border-radius: 50%;
}


/* 
=============================== 
Carousel 
=============================== 
*/


 #braincarousel {
     background-color: transparent;
     display: flex;
     justify-content: center;
     text-align: center;
     width: 100%;
     height: 100%;
     margin-bottom: 15px;
     margin-top: 15px;
}


 .carousel-control-prev-icon, .carousel-control-next-icon {
     width: 15px;
     height: 15px;
}


 .carousel-caption>p {
     background: #40585c73;
     padding-top: 0;
     padding-bottom: 0;
     margin: 0;
     font-weight: 400;
     font-size: .8rem;
}


/* 
=============================== 
Hero Image 
=============================== 
*/


 .hero-image {
     font-size: 1.7vmax;
     padding: 30px;
     margin-bottom: 20px;
     color: white;
     min-height: 40vh;
     width: 100%;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}


 .about-us-image {
     min-height: 45vh;
}


 .hero-image {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background5.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 30px;
}


 .hero-text {
     max-width: 60%;
     margin: auto;
}


/* 
=============================== 
Contact Us page 
=============================== 
*/

/*





 .address-contact {
     padding-left:30px 10px 20px 5px;
     font-size: .87rem;
}
*/ 

 .contact-form {
     margin-top: 30px;
}

.contact-place {
    padding-left: 55px;
}
 form {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
}


 .form-title {
     font-weight: 600;
}

.contact-us-image * {
    text-align: center;
}

 .contact-us {
     padding-bottom: 15px;
}

 ::placeholder {
     font-size: .7rem;
}


 .address>p {
     padding-left: 40px;
}


 .btn-success, .btn-secondary {
     padding: 5px 9px;
     font-size: .8rem;
}


 .envelope .phonenumber {
     display: block;
     text-decoration: none;
     padding-right: 5%;
     text-align: center;
}


 .phonenumber {
     padding-left:0;
     display: inline-block !important;
}


 .opening-hours>ul>li {
     display: block;
     text-decoration: none;
     padding-left: 0;
     margin: auto;
}



/* 
=============================== 
About us page 
=============================== 
*/


 .history-container {
     height: 70%;
     padding: 0;
}


 .history {
     max-width: 60%;
     margin: auto;
}


 .doctor{
     margin-top: 30px;
     border: none;
}


 .card-dr {
     border: 0px;
     padding-left: 20px;
     padding-right: 15px;
     margin: 0;
     text-align: left !important;
}


 .card-title, .card-dr>.card-text {
     padding: 5px;
     margin-bottom: 0;
}


 .card-title, .partners {
     font-size: .87rem;
     font-weight: 600;
}


 .card-dr>.card-text {
     font-size: .87rem;
}


 .doctor>img {
     width: 140px;
     height: 140px;
     margin-left: 28px;
}


 .logo-partners>img {
     height: 60px;
     padding: 10px;
}


 .about-us-title {
     padding-bottom: 20px;
}


/* 
=============================== 
How it works page Card decks
=============================== 
*/

.card-main {
    margin: 0 auto;
    padding: 5px;
}
 .card-img-top {
     height: 40px;
     width: 40px;
     margin-left: 20px;
     margin-top: 35px;
}

 .card {
     text-align: center;
     min-height: 33vh;
     margin: 7px;
}

 .steps {
     margin-top: 20px;
}

.step-card {
    margin-top: 7px;
}
/* 
=============================== 
Footer 
=============================== 
*/


 footer {
     background-color:#06212c;
     color: #fafafa;
     text-align: center;
     padding: 20px 10px;
     font-size: .8rem;
}


 .footer-top {
     padding-top: 7px;
}


 .terms {
     font-size: .7rem;
     margin-bottom: 10px;
}


 footer>ul {
     margin-bottom: 7px !important;
}


 footer>p {
     margin-top: 7px !important;
     text-align: center;
}


 footer>ul>li {
     display: inline-block;
     text-decoration: none;
     padding-left: 5%;
     padding-right: 5%;
     font-size: .6rem;
}


 footer .social-icons a {
     padding-right: 5%;
     padding-left: 5%;
     font-size: 120%;
     color: rgb(18, 224, 252);
}


 footer .social-icons a:hover {
     color: rgba(53, 206, 226, 0.514);
}


 footer .copyright>p {
     font-size: .65rem;
     padding-top: 10px;
     padding-bottom: 3px;
}

/* 
=============================== 
404 Page 
=============================== 
*/


.page-wrap {
    min-height: 100vh;
    background: #40585c73;
}

/* 
=============================== 
Media Queries 
=============================== 
*/

/* Mobile only*/


 @media screen and (min-width: 576px) {
     .card-deck-top {
         margin-bottom: 30px;
    }
}


@media screen and (max-width: 766px) {

    .quote {
        margin-bottom: 25px;
   }


}


/* Landscape phones and portrait tablets */
 @media screen and (min-width: 767px) {
     .navbar-nav {
         align-items: center;
         padding-top: 5px;
         padding-bottom: 5px;
    }


     .navbar-collapse {
         text-align: center !important;
    }


   


     .history {
         font-size: .87rem;
    }


     .logo-partners>img {
         height: 70px;
         padding: 5px;
    }


     .contact-place {
         margin-top: 30px;
         padding-left: 30px;
    }


     .opening-hours>ul {
         padding-left: 14px;
    }


     nav.stroke ul li a:after, nav.stroke ul li a:hover:after {
         display: inline-block;
    }


     .page-title {
         padding-top: 40px;
    }

    .card {
        min-height: 50vh;
    }
 }
/* Desktops and up */
 @media screen and (min-width: 992px) {
     .brand-phone {
         display: inline-block;
         transition:.5s;
     }
          
          .brand-phone:hover {
          transform:scale(1.1);
     }


}
