@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700|Gugi:400|Allerta+Stencil:100, 200, 300, 400, 500, 600, 700');
 body, html {
     height: 100%;
     width:100%;
     margin: 0;
     padding: 0;
     font-family: "Montserrat", sans-serif;
}

.row, .container, .container-fluid {
    margin:0;
    padding:0;
}


 .page-title {
     text-align: center;
     letter-spacing: 1.6px;
     font-weight: 700;
     margin-top: 70px;
     font-family: "Allerta Stencil", cursive;
}

 .navbar {
     background-color: #06212c;
    
}
 .brand-phone {
     color: #fafafa;
     font-family: "Montserrat", sans-serif;
     padding-left: 15px;
}
 .nav-item {
     font-family: "Raleway", sans-serif;
     font-weight: 600;
     text-transform: uppercase;
}
.custom-toggler.navbar-toggler {
  border-color: #06212c;
}

 .custom-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 224, 252, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
 .navbar-light .navbar-nav .nav-item .nav-link {
     color: #fafafa;
     font-weight: 600;
     padding: 5px 20px;
     border-radius: 4px;
}
 #navbarSupportedContent .nav-item .quote {
     background-color: rgb(18, 224, 252);
}
 .active .nav-link {
     color:rgb(18, 224, 252) !important;
     font-weight: 800 !important;
}
 nav ul li a, nav ul li a:after, nav ul li a:before {
     transition: all .5s;
}
/*----nav hover stroke-------------------*/
 nav.stroke ul li a {
     position: relative;
}
 nav.stroke ul li a:after {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 0%;
     content: '.';
     color: transparent;
     background: rgb(18, 224, 252);
     height: 1.5px;
}
 nav.stroke ul li a:hover:after {
     width: 70%;
}
/* ----Carousel---------------------------*/
 #braincarousel {
     background-color: transparent;
     display: flex;
     justify-content: center;
     text-align: center;
     width: 100%;
     height: 100%;
     margin-bottom: 15px;
     margin-top: 15px;
}
 
 .carousel-control-prev-icon, .carousel-control-next-icon {
     width: 10px;
     height: 10px;
}

.carousel-caption>h6 {
    background: #40585c9d;
}


.testimonials {
    padding: 30px;
    margin:0 !important;

}
.testimonials-row {
    margin:0 !important;
    padding:0;
}

.client {
    margin-top: 20px;
}

.client>img {
    float: left;
    margin-right: 30px;
    border-radius: 50%;
  }

  hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*contact page------------------------------------------------*/
 .contact-form {
     margin-top: 30px;
}
    .map {
     width: 150px;
     margin: 15px;
}
 .address-contact {
     padding-left: 5px; 
     padding-top: 30px;
     padding-right: 10px;
     padding-bottom: 20px;
    
}
::placeholder {
    font-size: 70%;
}

.address>p {
    padding-left: 40px;

}
 .hero-image {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background5.png");
     height: 70%;
     margin-top:40px;
     width: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
 .hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     font-size: 22px;
}
 .hero-image .hero-text>ul>li {
     display: inline-block;
     text-decoration: none;
     padding-right: 5%;
     text-align: center;
}
 .hero-image .hero-text .fa-ul {
     margin-left: 1px;
}

.contact-us {
  margin-bottom: 40px;
}

 .opening-hours>ul>li {
    display: inline-block;
    text-decoration: none;
    padding-left: 0;
}

.contact-place {
    margin-right:0;
}
/*---------Footer----------------------------------------------------*/
 footer {
     position: absolute;
     width: 100%;
     background-color:#06212c;
     color: white;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 10px;
     margin-top: 30px;
     
}


footer>ul {
    margin-bottom: 7px !important;

}
 footer>p {
     margin-top: 7px !important;
     text-align: center;
     line-height: 1 rem;
}
 footer>ul>li {
     display: inline-block;
     text-decoration: none;
     padding-left: 5%;
     padding-right: 5%;
     font-size: 10px;
}

footer .social-icons a {

    padding-right: 10%;
    padding-left: 10%;
    font-size: 140%;
    color: rgb(18, 224, 252);
}

footer .social-icons a:hover {
    color: rgba(53, 206, 226, 0.514);
}
footer .copyright {
    font-size: 12px;
    padding-top: 15px;
}


/*about us page-----------------------------*/

.history-container {
height: 70%;
  padding: 0;
 
}

.doctor{
    margin-top: 30px;
    border:none;
  
}

.card-body {
    border: 0px;
    padding-left: 20px;
    padding-right: 15px;
    margin: 0;
}


.card-title, .card-text {
    padding: 10px;

}


.doctor>img {
    width: 140px;
    height: 140px;
    margin-left: 20px;
}



.logo-partners>img {
   
height: 60px;
padding: 10px;
}



.history {
    font-size: 12px;
    word-break: break-all;
}



.about-us-title {
    padding-bottom: 20px;
}


/*---HOW IT WORKS PAGE--------------------------*/

.hero-image {
    text-align: center;
}




.hero-image-process {
   
    padding-top: 30px;

}

.process-title {
    font-size: 18px;
}





/* Timeline------------------------------*/
.card-img-top {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-deck {
    margin:0;
    padding:0;
    text-align: center;
}

.steps {
    margin-top: 20px;
}


/*----Media Queries----------------------------------------------------------------*/

/* Portrait phones and smaller */
 @media (max-width: 480px) {
     .brand-phone {
         display: none;
    }
     .navbar-brand {
         font-weight: 800;
         font-size: 1em;
    }
    
     nav.stroke ul li a:hover:after, nav.stroke ul li a:after {
         display: none;
    }

    .carousel-caption {
       padding-bottom: 0;
    }

    .carousel-caption h6 {
        font-size: 10px;
        padding-bottom: 0px;
    }

    .testimonials .client {
        font-size: 12px;
    }
  
    .address-contact {
         font-size: 14px;
    }

 
    .map {
        width: 60%;
        margin-bottom: 1rem;
        padding-left: 0 !important;
        margin-left: 15px;
   }
   .opening-hours {
       margin-bottom: 1rem;;
   }
   .hero-text {
    font-size: 18px;
  }

   .hero-image {
    height: 50%;
}

.hero-image-process {
    height: 50% !important;
}




.history-container {
    height: 200px;
    width: 300px;
}
.history {
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

}


/* Landscape phones and portrait tablets */
 @media (max-width: 767px) {
     .brand-phone {
         display: none;
    }
    
    .contact-form {
        width: 80%;
       margin-left: 10%;
    }
   
     nav.stroke ul li a:hover:after, nav.stroke ul li a:after {
         display: none;
    }
     .map {
         width: 50%;
         padding-left: 0;
    }
   
    

    .history-container {
        height: 200px;
        width: 350px;
    }
    .history {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo-partners>img {
        height: 70px;
        padding: 5px;
    }
   
  .process-title {
      padding-top: 10px;
  }

  .hero-image {
    height: 90%;
    margin-top: 20px;
  }
  
  .card-deck-top {
    margin-bottom: 30px;
}
  
}
/* Portrait tablets and small desktops */
 @media (min-width: 768px) and (max-width: 991px) {
    .brand-phone {
        display: none;
   }
   
   .logo-partners>img {
    height: 80px;
    padding: 5px;
}


.opening-hours>ul {
padding-left: 20px;

}
.history-container {
    width: 600px;
}

.history {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-deck-top {
    margin-bottom: 30px;
}
  
}

/* Landscape tablets and medium desktops */
 @media (min-width: 992px) and (max-width: 1199px) {
    .brand-phone {
        display: none;
   }
   .map {
    width: 50%;
    padding-left: 0;
}
.hero-text{
    font-size: 22px;
}

.hero-image-process {
    height: 40% !important;
}

.hero-image {
    height: 70%;
    margin-top: 10px;
}

.history-container {
    height: 200px;
    width: 600px;
}

.history {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo-partners>img {
    height: 80px;
    padding: 5px;
}
.card-deck-top {
    margin-bottom: 30px;
}

}
/* Large desktops and laptops */
 @media (min-width: 1200px) {

    .process-title {
       
       font-size: 22px !important;
   }
   .process-title {
    width: 200px;
}
     .navbar {
         padding-top: 10 px;
         padding-bottom: 10 px;
    }
    footer .footer-text {
        font-size: 15px;
        line-height:3px;
    }
    .opening-hours {
        padding-left: 8%;
    }

    .address {
        padding-left: 20px;
    }
    .contact-place {
        padding-top: 15px;
    }

    .history-container {
        height: 300px;
        width: 600px;
        padding: 0;
    }
    .history {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .logo-partners>img {
        height: 80px;
        padding: 5px;
    }
    .card-deck-top {
        margin-bottom: 30px;
    }

}
/*--XL screens------------------*/
 @media screen and (min-width: 1600px) {
     body {
         font-size: 30px;
         line-height: 40px;
    }
     .navbar {
         padding-top: 60 px;
         padding-bottom: 60 px;
    }

    .nav-item {
        font-size: 35px;
        padding-left: 30px;
    }

    navbar .navbar-brand>img {
        width: 145px;
        height: 75px;
    }
    .modal-dialog {
        max-width: 50% !important;
        max-height: 80% !important;
      }
     #exampleModalLabel {
         font-size: 35px !important;
     }

    .hero-image {
        height: 40%;
    }
   
    .history-container {
        height: 400px;
        width: 1200px;
    }

    .history, .about-us-title, .contact-us, .envelope, .phone-number, .process-title  {
        font-size: 40px !important;
        line-height: 60px;
    }
  

   
    .doctor>img {
        width: 280px;
        height: 280px;
    }


    .founders {
        margin: 40px;
    }

    .card-title, .partners, .testimonial-title, .opening-hours, .address, .form-title  {
      font-size: 35px;
      line-height: 60px;
        }

        
    .page-title-first {
        font-size: 60px;
        margin-top: 120px;
    }
    .page-title-second {
        font-size: 40px;
    }


    .carousel-caption>h6 {
        font-size: 30px !important;
    }
    .logo-partners>img {
        height: 180px;
        margin: 10px;
    }

    footer .footer-text {
        font-size: 30px;
        line-height: 20px;
    }

    .navbar .navbar-brand>img {
        width: 105px;
        height: 45px;
    }
    #navbarSupportedContent {
        padding-top: 15px;
        padding-bottom: 15px;
   }

   .contact-form {
       height: 800px;
   }
   .address {
       padding-left: 105px;
   }
   .social-icons {
       padding-top: 20px;
       padding-bottom: 20px;
   }

   .btn-success, .btn-secondary {
    
        padding: 10px 20px;
        font-size: 30px;
}

.process-steps-title {
    min-width: 400px;
}

.card-deck-top {
    margin-bottom: 30px;
}
   }
 
